body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a{
	font-family: 'Fredoka One', sans-serif;
	font-size: 1.2em;
}


.outer{
	width: 100%;
}

.logo{
	width: auto;
	position: relative;
	margin: 35px auto;
	z-index: 9999;
	text-align: center;
}

.circle {
	background-color: #82d89b;
	height: 150px;
	width: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	padding: 75px;
	text-align: center;
	color: black;
	position: relative;
	margin: -20px auto;

}

.circle h1{
	color: white;
	margin: 0;
	font-family: 'Fredoka One', sans-serif;
	font-size: 2em;

}


/*Media player*/

.mediaplayer {
	display: block;
	position:absolute;
	top:0;
	right:0;
	width:200px; 
	height: auto;
	background-color: #ccc;
	overflow: hidden;
}

.slider {
	margin: 7px;
	
}

.ui-slider-horizontal{
	height: 0.4em;
}

.ui-slider .ui-slider-handle{
	height: 1em;
	width: 1em;
	background-image: url('soundicon.png');
}
.ui-slider-horizontal .ui-slider-handle{
	top: -.35em;
	margin-left: -.3em;

}

.songinfo{
	padding: 2px 7px 6px 7px;
	line-height: 1.4em;
	text-align: right;
}

.musicnote{
	position: absolute;
	bottom: 0;
}
