body {
	font-family: 'Fredoka One', sans-serif;
}

.outer{
	height: 100%;
	width: 100%;
}

.logo{
	width: 300px;
	margin-left: 10px
	margin: 0 auto;
	text-align: center;
	z-index: 9999;
	position: absolute;
}



.logo:hover{
	margin: 310px auto;
	-webkit-transition: all 0.2s linear .3s; 
	-moz-transition: all 0.2s linear .3s; 
	-o-transition: all 0.2s linear .3s;
	-ms-transition: all 0.2s linear .3s;
	transition: all 0.2s linear .3s;
	animation-fill-mode: forward;
}

.circle {
	width: 300px;
	background-color: #82d89b;
	height: 150px;
	width: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	padding: 75px;
	text-align: center;
	color: black;
	position: absolute;

}

.circle h1{
	color: white;
}

.mediaplayer {
	display: block;
	position:absolute;
	top:0;
	right:0;
	width: 200px; 
	height: 30px;
	background-color: #ccc;
	border: 5px;
}

#slider {
	margin: 10px;
	
}
