body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.outer{
	width: 100%;
}

.logo{
	width: 601px;
	position: relative;
	margin: 0 auto;
	z-index: 9997;
	text-align: center;
}

.logo img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	text-align: center;
}

.logo img.top{
	padding-top: 10px;
	padding-left: 100px;

}

.logo img.bottom{
	opacity: 0;
}

.logo img.bottom:hover {
	opacity:100;
}

.login{
	text-align: center;
	color: black;
	position: absolute;
	height: 40px;
	width: 99%;
	margin: 410px auto;
}

a{
	font-family: 'Fredoka One', sans-serif;
	font-size: 2em;
	font-color: white !important;
	text-decoration: none;
}


/*Media player*/

.mediaplayer {
	display: block;
	position:absolute;
	top:0;
	right:0;
	width:200px; 
	height: auto;
	background-color: #ccc;
	overflow: hidden;
}

.slider {
	margin: 7px;
	
}

.ui-slider-horizontal{
	height: 0.4em;
}

.ui-slider .ui-slider-handle{
	height: .5em;
	width: .5em;
	background-image: url('soundicon.png');
}
.ui-slider-horizontal .ui-slider-handle{
	top: -.17em;
	margin-left: -.27em;

}

.songinfo{
	padding: 2px 7px 6px 7px;
	line-height: 1.4em;
	text-align: right;
}

.musicnote{
	position: absolute;
	bottom: 0;
}
